/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size: 100.01%; }
body {
  font-size: 100%;
  color: #333;
  background: #EFEFEF;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;  
}


/* Headings */

h1,h2,h3,h4,h5,h6 { 
  font-weight: normal; 
  color: #333;
}

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

/* paragraphs */
p {
  margin-bottom: 1.5em;
}

/* layout */
.container {
  margin: 3em auto;
  width: 780px;
}
